
<div class="vpad--xxl">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="text--xxxl text--display">Um sich für das Gewinnspiel zu qualifizieren, buchen Sie einfach eines unserer Black-November-Angebote und Sie nehmen automatisch am Gewinnspiel teil. Sie müssen nichts weiter ausfüllen oder angeben.</p>
    </div>
    <div class="space--xl"></div>

    {% include offer/all-offers.html %}

    <div class="space--lg text--center">
      <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange js-add-affiliate">Angebote ansehen</a>
    </div>

  </div>
</div>