---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: Gewinnen Sie einen 1000-€-Gutschein im Black November

intro: >
  <p class="text--xxl text--display">In unserem Black November haben Sie nicht nur die Möglichkeit einige fantastische Reisen und Hotels zu unschlagbaren Preisen zu ergatterm. Wir geben Ihnen dazu zusätzlich die Chance, einen Secret-Escapes-Reisegutschein in Höhe von 1000 € zu gewinnen und einen Teil Ihrer nächsten Auszeit damit zu finanzieren.</p>
  <p class="text--xl">Um sich für das Gewinnspiel zu qualifizieren, buchen Sie einfach eines unserer Angebote im November und nehmen Sie somit automatisch am Gewinnspiel teil. Sie müssen nichts weiter ausfüllen oder angeben.</p>
  <div class="space--sm"></div>
  <a href="" class="btn btn--orange">Angebote ansehen</a>

---


<div class="bg--black">
  <div class="container">

    {% include offer/all-offers.html %}

    <div class="space--xxl text--center">
      <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange btn--lg js-add-affiliate">Angebote ansehen</a>
    </div>

  </div>
  <div class="space--xxxl"></div>
</div>


{% include page/promo-offers.html %}
