---
layout: default
id: overview
nav: true
nav-order: 1
title: Overview

banner:
  title: Gewinnen Sie einen 1000-€-Gutschein im Black November

intro: >
  <p class="text--xxxl text--display">In unserem Black November haben Sie nicht nur die Möglichkeit einige fantastische Reisen und Hotels zu unschlagbaren Preisen zu ergatterm. Wir geben Ihnen dazu zusätzlich die Chance, einen Secret-Escapes-Reisegutschein in Höhe von 1000 € zu gewinnen und einen Teil Ihrer nächsten Auszeit damit zu finanzieren.</p>
  <p class="text--xl">Den ganzen November über nehmen Sie mit jeder beliebigen Buchung an unserer Verlosung von 1000 € teil. Somit sparen Sie nicht nur bis zu 70% bei jeder Buchung, sondern können mit etwas Glück auch Ihr Reisebudget für zukünftige Trips auffrischen. Werden Sie das Glück überreden können und den Hauptgewinn einstreichen?</p>
  <div class="space--sm"></div>
  <a href="" class="btn btn--orange">Zu den Angeboten</a>

---


<div class="vpad--xxl bg--grey-darkest">
  <div class="container">
    <div class="width width--lg text--center">
      <p class="text--xxxl text--display">Um sich für das Gewinnspiel zu qualifizieren, buchen Sie einfach eines unserer Black-November-Angebote und Sie nehmen automatisch am Gewinnspiel teil. Sie müssen nichts weiter ausfüllen oder angeben.</p>
    </div>
    <div class="space--xl"></div>

    {% include offer/all-offers.html %}

    <div class="space--lg text--center">
      <a href="https://www.secretescapes.com/current-sales" class="btn btn--orange js-add-affiliate">Angebote ansehen</a>
    </div>

  </div>
</div>


{% include page/promo-offers.html %}
