// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  color: $white;
  background-repeat: repeat;
  background-position: center;
  background-size: 300px 300px;
  padding-top: $s8;
  padding-bottom: $s8;
  @include bp($xl){
    padding-top: $s10;
    padding-bottom: $s10;
  }

  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }
  &__title {
    max-width: 500px;
    width: 90%;
    margin: $s6 auto 0;
    @include bp($xl){
      margin: $s2 auto;
    }
    &-logos {
      width: 50%;
      max-width: 240px;
    }
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    background-color: $grey-dark;
    @include background-attributes;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0; right: 0;
      height: 200px;
      background: -moz-linear-gradient(bottom,  rgba(17,28,38,1) 0%, rgba($black,0) 100%);
      background: -webkit-linear-gradient(bottom,  rgba($black,1) 0%,rgba($black,0) 100%);
      background: linear-gradient(to top,  rgba($black,1) 0%,rgba($black,0) 100%);
    }
  }

  &__logo {
    display: block;
    width: 60%;
    max-width: 420px;
    margin: auto;
    background-image: url('../img/content/title.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    &:before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 38%;
    }
  }
}