<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js">

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}
    {% include page/bokeh.html %}

    <div class="content-spacing section-spacing">
      <div class="page-bg" style="background-image: url('{{site.img}}/content/background.jpg');"></div>
      {{ content }}
    </div>

    {% include page/footer.html %}

    {% include modal/modal.html %}

  </body>

</html>